.section-recent-projects {
    background-color: #f5f6f9;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-carrossel-div:hover {
    transform: translateY(-5px);
    transition: 0.5s ease-in-out;
    box-shadow: 0 10px 10px #cacaca;
}

.card-carrossel-list .card-carrossel-item{
    list-style: none !important;
}
 
.card-carrossel-div{
    height: 350px !important;
    width: 300px !important;
    display: block !important;
    background-color: var(--cor-secundaria) !important;
    padding: 20px !important;
    text-decoration: none !important;
}

.card-carrossel-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image{
    width: 100% !important;
    aspect-ratio: 16 / 9 !important;
    object-fit: cover !important;
}

.card-carrossel-list .carrossel-link {
    font-size: 17px;
    color: black;
    font-weight: 600;
}

.slide-button {
    display: none !important;
}


/* transform: rotate(-45deg) */