:root {
    --cor-primaria: #d00a2b;
    --cor-secundaria: #fff;
    --cor-terciaria: #0a2c3d;
    --quarta-cor: #5c727d;
    --cor-cards: #f5f6f9;
    --cor-fonte-primaria: #0a2c3d;
    --cor-fonte-secundaria: #fff;
    --cor-footer: #303440;
}