
.div-inicio-modern-tech {
    height: 81.1% !important;
    width: 100% !important;
    background: linear-gradient(to left, rgba(4, 40, 83, 0) 0, #032650 100%), linear-gradient(to left, rgba(5, 52, 110, 0) 0, #073874 100%), transparent url(/assets/firstImage.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
    height: 100vh;
    min-height: 500px;
    max-height: 1200px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.div-about-company {
    height: 89%;
} 


.icone-modern-tech {
    background-color: var(--cor-secundaria);
    height: 60px;
    width: 60px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watch-video {
    color: var(--cor-secundaria);
    font-family: var(--fonte);
}

.optimized-it{
    font-size: 20px !important;
    color: var(--cor-fonte-secundaria);
    font-family: var(--fonte);
    font-weight: 500;
}

    .digital-experience {
        font-size: 80px !important;
        color: var(--cor-fonte-secundaria);
        font-family: var(--fonte);
        font-weight: 900;
    }

    .modern-tech{
        font-size: 80px !important;
        color: var(--cor-fonte-secundaria);
        font-family: var(--fonte);
        font-weight: bolder;
    }

    .div-about-company {
        font-family: var(--fonte);
    }

    .div-about-company img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
        
    }


    .fw-medium {
        color: var(--quarta-cor);
    }

@media (min-width: 1200px) {

    .team-of-title {
        font-size: 50px !important;
    }
    
    .texto-over, .texto-provides {
        font-size: 18.5px;
    }

}