
.particles-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

#particles-container {
    position: absolute;
    width: 100%;
    height: 83%;
    top: 0;
    left: 0;
    z-index: 0; 
    background: linear-gradient(to left, rgba(4, 40, 83, 0) 0, #032650 100%), 
                linear-gradient(to left, rgba(5, 52, 110, 0) 0, #073874 100%), 
                transparent url(/assets/firstImage.jpg);
    background-size: cover;
    background-position: center;
}

.particles-content {
    position: relative;
    z-index: 0; 
    color: white;  
}

.div-inicio-textos {
    position: relative;
    z-index: 0;
}

.icone-modern-tech {
    background-color: var(--cor-secundaria);
    height: 60px;
    width: 60px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
 
.watch-video {
    color: var(--cor-secundaria);
    font-family: var(--fonte);
}

.optimized-it{
    font-size: 20px !important;
    color: var(--cor-fonte-secundaria);
    font-family: var(--fonte);
    font-weight: 500;
}

    .digital-experience {
        font-size: 80px !important;
        color: var(--cor-fonte-secundaria);
        font-family: var(--fonte);
        font-weight: 900;
    }

    .modern-tech{
        font-size: 80px !important;
        color: var(--cor-fonte-secundaria);
        font-family: var(--fonte);
        font-weight: bolder;
    }

    .div-about-company {
        font-family: var(--fonte);
    }

    .div-about-company img{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center; 
        
    }


    .fw-medium {
        color: var(--quarta-cor);
    }

@media (min-width: 1200px) {

    .team-of-title {
        font-size: 50px !important;
    }
    
    .texto-over, .texto-provides {
        font-size: 18.5px;
    }

}